# ===== Python キャッシュ =====
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

# ===== 仮想環境 =====
venv/
env/
.venv/
ENV/
venv/lib/
venv/bin/
venv/Include/
venv/Lib/

# ===== データベース =====
db.sqlite3

# ===== 環境変数ファイル =====
.env

# ===== OS・IDEなど =====
.DS_Store
.idea/
.vscode/
