<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
</head>
<body>
    <h1>ようこそ waninaru へ</h1>

    <!-- ログインしている場合 -->
    {% if user.is_authenticated %}
        <p>{{ user.profile.name|default:user.email }} でログイン中です</p>
        <a href="{% url 'mypage' %}">マイページ</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    <!-- ログインしていない場合 -->
    {% else %}
        <a href="{% url 'signup' %}">アカウント作成</a><br>
        <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
    <p><a href="{% url 'user_list' %}">ユーザー一覧</a></p>
</body>
</html>
