{% load static %} 

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>工芸品選択</title>
    <!--boostrap CDN経由 .js-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'aidea/design.css' %}">
    <!--boostrap CDN経由 .css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--アイコン css-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <!--ブランドロゴ-->
        <a class="navbar-brand" href="#">
          <img src="{% static 'aidea/images/waninaru.png' %}" alt="Logo" width="28" height="28" class="me-1 logo">
          waninaru
        </a>

        <!--折り畳みボタン-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
          aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- メニュー部分 -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mb-2 mb-sm-0 me-auto">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">ホーム画面</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">アイデアを作成する</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">マイフォルダ</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Link</a></li>
                <li><a class="dropdown-item" href="#">Link</a></li>
                <li><a class="dropdown-item" href="#">Link</a></li>
              </ul>
            </li> -->
            </ul>
            <ul class="navbar-nav mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="bi bi-person-circle m-2"></i>
                マイページ
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    


    <div class="container-fluid">
    <h1 class="row justify-content-center my-5">デザインしたい工芸品を選んでください</h1>

    <hr>
    <!--JavaScriptでページ遷移させる。選んだ工芸品の名前をURLパラメータとして渡す-->
    <!--以下、赤くなっているところがありますが、VSCodeがDjangoの構文をJavaScriptだと思って解析しているためです。エラーではありません。-->
    <div class = "row">
        <div class="offset-1 col-4 offset-md-2 col-md-3">
          <button class="btn btn-outline-dark my-3" onclick="showModal(
            '輪島塗', 
            '{% static "aidea/images/wazima5.jpg" %}', 
            '輪島塗は、石川県輪島市で作られる漆器です。特徴は「木地を素地とする」「布着せを施す」「輪島でしか採れない地の粉を下地に使う」ことです。良質な地の粉により強度が高まり、美しい仕上がりになります。彫りに金を入れたり、金粉・銀粉を使った蒔絵など華やかな装飾も魅力です。100を超える工程を経て作られるため丈夫で、修復して長く使うこともできます。',
            ['石川県輪島市で作られる漆器', '金粉や銀粉を使用した蒔絵などの華やかな表現', '修復して長く使用できる']
            )">
            <div class="area pt-3 pb-3">
              <img src="{% static 'aidea/images/wazima5.jpg' %}" alt="仮画像" class="img-fluid w-50 h-50 pb-3 img" ></br>
              輪島塗のお椀
            </div>
          </button>
        </div>

        <div class="offset-1 col-4 offset-md-2 col-md-3">
          <button class="btn btn-outline-dark my-3" onclick="showModal(
            '会津塗', 
            '{% static "aidea/images/aidu3.jpg" %}', 
            '会津塗は、福島県の西部に位置する会津地方に江戸時代から伝わる伝統技法で作られた工芸品です。特徴として、縁起のいい意匠や多彩な加飾の美しさが挙げられます。他の漆器に比べて、浅く細い溝を掘るため装飾は柔らかな表情を感じさせます。',
            ['会津地方に江戸時代から伝わる工芸品', '縁起のいい意匠や多彩な加飾の美しさ', '浅く細い溝を掘るため装飾は柔らかな表情が感じられる']
            )">
                <div class="area pt-3 pb-3">
                    <img src="{% static 'aidea/images/aidu3.jpg' %}" alt="仮画像" class="img-fluid w-50 h-50 pb-3 img"></br>
                    会津塗のお椀
                </div>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="offset-1 col-4 offset-md-2 col-md-3">
          <button class="btn btn-outline-dark my-3" onclick="showModal(
            '有田焼', 
            '{% static "aidea/images/arita.webp" %}', 
            '有田焼は、佐賀県有田町とその周辺地域で17世紀に日本で初めて作られた磁器です。特徴は、透き通るように白い滋肌と呉須で描いた染付け、ガラス質の上絵具を用いた華やかな赤絵です。耐久性が高く、美術品から日用品まで様々なものが生産されています。',
            ['佐賀県有田町とその周辺地域で日本で初めて作られた磁器', '耐久性が高い', '美術品から日用品まで生産']
            )">
                <div class="area pt-3 pb-3">
                    <img src="{% static 'aidea/images/arita.webp' %}" alt="仮画像" class="w-50 h-50 pb-3 img"></br>
                    有田焼のお皿
                </div>
            </button>
        </div>
        <div class="offset-2 col-4 offset-md-2 col-md-3">

          <button class="btn btn-outline-dark my-3
          " onclick="showModal(
            '九谷焼', 
            '{% static "aidea/images/kutani2.webp" %}', 
            '九谷焼は、石川県南部で作られている陶磁器です。山水、花鳥など絵画的で大胆な「上絵付け」による装飾が美しく、皿や茶碗のほか装飾品としても広く愛されています。九谷焼は、伝統を礎に時代の流れを汲みながら、現代においても進化し続けています',
            ['石川県南部で作られている陶磁器', '絵画的で大胆な「上絵付け」による装飾が美しい', '現代においても進化し続けている']
            )">
                <div class="area pt-3 pb-3">
                    <img src="{% static 'aidea/images/kutani_sq1.jpg' %}" alt="仮画像" class="w-50 h-50 pb-3 img"></br>
                    九谷焼のお皿
                </div>
            </button>
        </div>
    </div>
    </div>

    <!--モーダル-->
  <div class="modal fade" id="craftModal" tabindex="-1" aria-labelledby="craftModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="craftModalLabel">工芸品について</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-md-5">
                <img id="modalImage" src="" alt="工芸品画像" class="img-fluid h-100 w-100 rounded">
            </div>
            <div class="col-md-7 text-start">
              <h4 id="modalTitle"></h4>
              <p id="modalDescription" class="fs-5"></p>
              <ul id="modalFeatures" class="fs-6"></ul>

              <h5 id="modalFeatureTitle">特徴</h5>
              <ul id="modalFeaturetext" class="fs-5"></ul>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
          <button type="button" class="btn btn-danger" id="makeButton">この工芸品のデザイン作る</button>
        </div>
      </div>
    </div>
  </div>

    <!--boostrap CDN経由 .js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
    const modal = new bootstrap.Modal(document.getElementById('craftModal'));
    let currentItem = "";

    function showModal(name, imgPath, description, features=[]) {
      document.getElementById('modalTitle').textContent = name;
      document.getElementById('modalImage').src = imgPath;
      document.getElementById('modalDescription').textContent = description;
      document.getElementById("modalFeatureTitle").textContent = "特徴";

    // 特徴リストを更新
    const featureList = document.getElementById('modalFeaturetext');
    featureList.innerHTML = ""; // 一度クリア
    features.forEach(f => {
      const li = document.createElement('li');
      li.textContent = f;
      featureList.appendChild(li);
    });

    currentItem = name;
    modal.show();
  }

    document.getElementById('makeButton').addEventListener('click', () => {
      location.href = `/aidea/design/?item=${encodeURIComponent(currentItem)}`;
    });
  </script>
</body>
</html>
