#chat-box {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f1f1f1;
}
.user-message {
    text-align: right;
    background: #d1e7ff;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}
.assistant-message {
    text-align: left;
    background: #f1f1f1;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
}
.suggest-btn {
    margin: 5px;
}

#free-input {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    /* paddingやborderが原因ではみ出さないようにするためのおまじない */
    box-sizing: border-box; 
}

body{
    background-color: #ccc;
}

img{
    width: 20%;
}

html, body{
    height:100%;
    width:100%;
    padding:0%;
    margin:0%;
}

.sidebar{
    top:0;
    left:-100%;
    height:100%;
    transition:all .35s ease;
}

.sidebar-toggle{
    cursor: pointer;
}

.logo{
    width:45px;
    height:45px;
}

#idea_upload_txt {
    height: 300px;
    width: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f1f1f1;
}

#modalFeaturetext{
    font-size: 30px;
}